/*----------------------------------------*\
	#COLORS
\*----------------------------------------*/

/*	#BRAND
	====================================================================== */

$primary: #654ce6;
$primary-light: #8672ec;
$primary-dark: #5828e1;

/*	#TOKENS
	====================================================================== */

$black-0: #1c1c28;
$black-1: #28293d;
$black-2: #555770;
$black-3: #8f90a6;
$black-4: #c7c9d9;

$white-0: #e4e4eb;
$white-1: #ebebf0;
$white-2: #f2f2f5;
$white-3: #fafafc;
$white-4: #ffffff;

$red-0: #e53535;
$red-1: #ff3b3b;
$red-2: #ff5c5c;
$red-3: #ff8080;
$red-4: #ffe5e5;

$green-0: #05a660;
$green-1: #06c270;
$green-2: #39d98a;
$green-3: #57eba1;
$green-4: #e3fff1;

$blue-0: #014bd3;
$blue-1: #1265ff;
$blue-2: #3d80fc;
$blue-3: #76a6ff;
$blue-4: #c9dcff;

$yellow-0: #e2a502;
$yellow-1: #fdb800;
$yellow-2: #ffcb40;
$yellow-3: #ffd975;
$yellow-4: #ffebb6;

$orange-0: #f6741a;
$orange-1: #fd8f43;
$orange-2: #ffa76a;
$orange-3: #ffbc8d;
$orange-4: #ffe3d0;

$teal-0: #00b7c4;
$teal-1: #00cfde;
$teal-2: #73dfe7;
$teal-3: #a9eff2;
$teal-4: #e5ffff;

$purple-0: #5828e1;
$purple-1: #654ce6;
$purple-2: #8672ec;
$purple-3: #baaef8;
$purple-4: #f0eefc;
