/*----------------------------------------*\
	#GLOBAL
\*----------------------------------------*/

/*
 *	NOTE:
 *  1.	
 */

/*	#BREAKPOINTS
	====================================================================== */

$bp-2x-small: 360px;
$bp-x-small: 576px;
$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1200px;
$bp-x-large: 1400px;

/*	#SPACING
	====================================================================== */

$spacing-extra-small: 0.5rem;	/* 8px / 16px */
$spacing-small: 1rem;			/* 16px */
$spacing-medium: 1.5rem;		/* 24px / 16px */
$spacing-medium-large: 2rem;	/* 32px / 16px */
$spacing-large: 2.5rem;			/* 40px / 16px */
$spacing-extra-large: 4.5rem;	/* 72px / 16px */

/*	#RADIUS
	====================================================================== */

$radius-small: 8px;
$radius-medium: 16px;
$radius-large: 24px;
