/*------------------------------------*\
	#PLACEHOLDERS
\*------------------------------------*/

/*	#SCROLLBAR
	====================================================================== */

%scrollbar-vertical-dark {
	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 100rem;
		background-color: var(--theme-invertible-main-soft);
	}
}

%scrollbar-horizontal-dark {
	&::-webkit-scrollbar {
		height: 6px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 100rem;
		background-color: var(--theme-invertible-main-soft);
	}
}

/*	#IMAGE
	====================================================================== */

%img-full-cover {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
