/*------------------------------------*\
	#FONTS
\*------------------------------------*/

/* *
   * NOTE:
   * 1.	'EOT' formats are not included in order to reduce loading times,
   * 	though as a result, we don't support IE8 and older browsers.
   * 2.	Out of all the different weights of "Inter", we only use 4:
   * 	Normal (400), medium (500), semibold (600), and bold (700)
   * 3.	All weights also include an italic version.
 */

/* #INTER
====================================================================== */

/* Normal */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
		url('/assets/fonts/Inter/Inter-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/assets/fonts/Inter/Inter-Italic.woff2') format('woff2'),
		url('/assets/fonts/Inter/Inter-Italic.woff') format('woff');
}

/* Medium */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/assets/fonts/Inter/Inter-Medium.woff2') format('woff2'),
		url('/assets/fonts/Inter/Inter-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('/assets/fonts/Inter/Inter-MediumItalic.woff2') format('woff2'),
		url('/assets/fonts/Inter/Inter-MediumItalic.woff') format('woff');
}

/* Semibold */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
		url('/assets/fonts/Inter/Inter-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('/assets/fonts/Inter/Inter-SemiBoldItalic.woff2') format('woff2'),
		url('/assets/fonts/Inter/Inter-SemiBoldItalic.woff') format('woff');
}

/* Bold */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/assets/fonts/Inter/Inter-Bold.woff2') format('woff2'),
		url('/assets/fonts/Inter/Inter-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('/assets/fonts/Inter/Inter-BoldItalic.woff2') format('woff2'),
		url('/assets/fonts/Inter/Inter-BoldItalic.woff') format('woff');
}
