/*------------------------------------*\
	#FONTS
\*------------------------------------*/
/* *
   * NOTE:
   * 1.	'EOT' formats are not included in order to reduce loading times,
   * 	though as a result, we don't support IE8 and older browsers.
   * 2.	Out of all the different weights of "Inter", we only use 4:
   * 	Normal (400), medium (500), semibold (600), and bold (700)
   * 3.	All weights also include an italic version.
 */
/* #INTER
====================================================================== */
/* Normal */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Inter/Inter-Regular.woff2") format("woff2"), url("/assets/fonts/Inter/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Inter/Inter-Italic.woff2") format("woff2"), url("/assets/fonts/Inter/Inter-Italic.woff") format("woff");
}
/* Medium */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Inter/Inter-Medium.woff2") format("woff2"), url("/assets/fonts/Inter/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Inter/Inter-MediumItalic.woff2") format("woff2"), url("/assets/fonts/Inter/Inter-MediumItalic.woff") format("woff");
}
/* Semibold */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("/assets/fonts/Inter/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"), url("/assets/fonts/Inter/Inter-SemiBoldItalic.woff") format("woff");
}
/* Bold */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Inter/Inter-Bold.woff2") format("woff2"), url("/assets/fonts/Inter/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Inter/Inter-BoldItalic.woff2") format("woff2"), url("/assets/fonts/Inter/Inter-BoldItalic.woff") format("woff");
}
/*----------------------------------------*\
	#GLOBAL
\*----------------------------------------*/
/*
 *	NOTE:
 *  1.	
 */
/*	#BREAKPOINTS
	====================================================================== */
/*	#SPACING
	====================================================================== */
/* 8px / 16px */
/* 16px */
/* 24px / 16px */
/* 32px / 16px */
/* 40px / 16px */
/* 72px / 16px */
/*	#RADIUS
	====================================================================== */
/*----------------------------------------*\
	#TYPOGRAPHY
\*----------------------------------------*/
/*	#BASE
	====================================================================== */
/*	#SIZE
	====================================================================== */
/* 10px */
/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 22px */
/* 24px */
/* 26px */
/* 28px */
/* 32px */
/* 48px */
/* 56px */
/* 64px */
/*	#SIZE_HEADING
	====================================================================== */
/* 40px */
/* 32px */
/* 28px */
/* 24px */
/* 20px */
/* 16px */
/*	#WEIGHT
	====================================================================== */
/*	#PLACEHOLDERS
	====================================================================== */
/*----------------------------------------*\
	#COLORS
\*----------------------------------------*/
/*	#BRAND
	====================================================================== */
/*	#TOKENS
	====================================================================== */
/*----------------------------------------*\
	#ELEVATIONS
\*----------------------------------------*/
/*	#LIGHT
	====================================================================== */
/*	#DARK
	====================================================================== */
/*------------------------------------*\
	#PLACEHOLDERS
\*------------------------------------*/
/*	#SCROLLBAR
	====================================================================== */
/*----------------------------------------*\
	#THEMES
\*----------------------------------------*/
/* *
 * Theme changes happen with adding or removing classes to the 'html' element.
 * Add or removal of these classes is handled inside the top 'index.html' file,
 * using either 'prefers-color-scheme' media query or browser's localstorage 'theme' value.
 * To change the theme at run-time, add the corresponding theme class to 'html' element
 * and also modify the localstorage 'theme' value to ensure consistency on future visits.
 * 
 * LIST OF CURRENTLY SUPPORTED THEMES:
 * 
 * [THEME NAME]				[CLASS NAME]
 * 01. Light		=>		'theme-light' (default theme)
 * 02. Dark			=>		'theme-dark'
 */
/* *
 * Shared variables
 */
:root {
  /*	#COLOR
  	====================================================================== */
  --theme-color-primary: #654ce6;
  --theme-color-primary-light: #8672ec;
  --theme-color-primary-dark: #5828e1;
  --theme-color-black: #28293d;
  --theme-color-black-light: #555770;
  --theme-color-black-dark: #1c1c28;
  --theme-color-white: #fafafc;
  --theme-color-white-light: #ffffff;
  --theme-color-white-dark: #f2f2f5;
  /*	#BACKGROUND
  	====================================================================== */
  --theme-bg-primary: #654ce6;
  --theme-bg-primary-light: #8672ec;
  --theme-bg-primary-dark: #5828e1;
  --theme-bg-black: #28293d;
  --theme-bg-black-light: #555770;
  --theme-bg-black-dark: #1c1c28;
  --theme-bg-black-soft: #8f90a6;
  --theme-bg-black-softer: #c7c9d9;
  --theme-bg-white: #fafafc;
  --theme-bg-white-light: #ffffff;
  --theme-bg-white-dark: #f2f2f5;
  --theme-bg-white-soft: #ebebf0;
  --theme-bg-white-softer: #e4e4eb;
  --theme-bg-red: #ff3b3b;
  --theme-bg-red-light: #ff5c5c;
  --theme-bg-red-dark: #e53535;
  --theme-bg-green: #06c270;
  --theme-bg-green-light: #39d98a;
  --theme-bg-green-dark: #05a660;
  --theme-bg-green-soft: #57eba1;
  --theme-bg-green-softer: #e3fff1;
  --theme-bg-blue: #1265ff;
  --theme-bg-blue-light: #3d80fc;
  --theme-bg-blue-dark: #014bd3;
  --theme-bg-blue-soft: #76a6ff;
  --theme-bg-blue-softer: #c9dcff;
  --theme-bg-yellow: #fdb800;
  --theme-bg-yellow-light: #ffcb40;
  --theme-bg-yellow-dark: #e2a502;
  --theme-bg-orange: #fd8f43;
  --theme-bg-orange-light: #ffa76a;
  --theme-bg-orange-dark: #f6741a;
  --theme-bg-teal: #00cfde;
  --theme-bg-teal-light: #73dfe7;
  --theme-bg-teal-dark: #00b7c4;
  --theme-bg-teal-soft: #a9eff2;
  --theme-bg-teal-softer: #e5ffff;
  --theme-bg-purple: #654ce6;
  --theme-bg-purple-light: #8672ec;
  --theme-bg-purple-dark: #5828e1;
  /*	#TEXT
  	====================================================================== */
  --theme-text-primary: #654ce6;
  --theme-text-primary-light: #8672ec;
  --theme-text-primary-dark: #5828e1;
  --theme-text-black: #1c1c28;
  --theme-text-white: #ffffff;
  --theme-text-red: #ff3b3b;
  --theme-text-green: #06c270;
  --theme-text-blue: #1265ff;
  --theme-text-yellow: #fdb800;
  --theme-text-orange: #fd8f43;
  --theme-text-teal: #00cfde;
  --theme-text-purple: #654ce6;
  /*	#BORDER
  	====================================================================== */
  --theme-border-primary: #654ce6;
  --theme-border-black: #8f90a6;
  --theme-border-black-light: #c7c9d9;
  --theme-border-white: #e4e4eb;
  --theme-border-red: #ff3b3b;
  --theme-border-green: #06c270;
  --theme-border-blue: #1265ff;
  --theme-border-yellow: #fdb800;
  --theme-border-orange: #fd8f43;
  --theme-border-teal: #00cfde;
  --theme-border-purple: #654ce6;
  /*	#FILL
  	====================================================================== */
  --theme-fill-primary: #654ce6;
  --theme-fill-primary-light: #8672ec;
  --theme-fill-primary-dark: #5828e1;
}

/* *
 * 01. Light
 */
:root.theme-light {
  /*	#BACKGROUND
  	====================================================================== */
  --theme-bg-main: #fafafc;
  --theme-bg-main-light: #ffffff;
  --theme-bg-main-dark: #f2f2f5;
  --theme-bg-main-soft: #ebebf0;
  --theme-bg-main-softer: #e4e4eb;
  /*	#TEXT
  	====================================================================== */
  --theme-text-main: #28293d;
  --theme-text-main-light: #555770;
  --theme-text-main-dark: #1c1c28;
  --theme-text-main-soft: #8f90a6;
  --theme-text-main-softer: #c7c9d9;
  /*	#FILL
  	====================================================================== */
  --theme-fill-main: #555770;
  --theme-fill-main-light: #8f90a6;
  --theme-fill-main-dark: #28293d;
  /*	#BOX SHADOW
  	====================================================================== */
  --theme-shadow-inset: inset 0px 0.5px 4px rgba(96, 97, 112, 0.32);
  --theme-shadow-lvl-1: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  --theme-shadow-lvl-2: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  --theme-shadow-lvl-3: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
  --theme-shadow-lvl-4: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  --theme-shadow-lvl-5: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
  --theme-shadow-lvl-6: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
  /*	#INVERTIBLE
  	====================================================================== */
  --theme-invertible-main: #28293d;
  --theme-invertible-main-light: #555770;
  --theme-invertible-main-dark: #1c1c28;
  --theme-invertible-main-soft: #8f90a6;
  --theme-invertible-main-softer: #c7c9d9;
}

/* *
 * 02. Dark
 */
:root.theme-dark {
  /*	#BACKGROUND
  	====================================================================== */
  --theme-bg-main: #28293d;
  --theme-bg-main-light: #555770;
  --theme-bg-main-dark: #1c1c28;
  --theme-bg-main-soft: #8f90a6;
  --theme-bg-main-softer: #c7c9d9;
  /*	#TEXT
  	====================================================================== */
  --theme-text-main: #fafafc;
  --theme-text-main-light: #ffffff;
  --theme-text-main-dark: #f2f2f5;
  --theme-text-main-soft: #ebebf0;
  --theme-text-main-softer: #e4e4eb;
  /*	#FILL
  	====================================================================== */
  --theme-fill-main: #fafafc;
  --theme-fill-main-light: #ffffff;
  --theme-fill-main-dark: #f2f2f5;
  /*	#BOX SHADOW
  	====================================================================== */
  --theme-shadow-inset: inset 0px 0.5px 4px rgba(0, 0, 0, 0.32);
  --theme-shadow-lvl-1: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.32);
  --theme-shadow-lvl-2: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.32);
  --theme-shadow-lvl-3: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.32);
  --theme-shadow-lvl-4: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.32);
  --theme-shadow-lvl-5: 0px 2px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.32);
  --theme-shadow-lvl-6: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 20px 32px rgba(0, 0, 0, 0.32);
  /*	#INVERTIBLE
  	====================================================================== */
  --theme-invertible-main: #fafafc;
  --theme-invertible-main-light: #ffffff;
  --theme-invertible-main-dark: #f2f2f5;
  --theme-invertible-main-soft: #ebebf0;
  --theme-invertible-main-softer: #e4e4eb;
}

/*----------------------------------------*\
	#HTML
\*----------------------------------------*/
/*
 *	NOTE:
 *	1.	Relative position and top padding is here to allow for a fixed
 *		header inside pages. The padding value is the same as the header's
 *		height, defined inside header component.
 */
html,
body {
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-bg-main-dark);
  color: var(--theme-text-main);
  scroll-behavior: smooth;
}

/* [1] */
.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 110px;
}

/*----------------------------------------*\
	#LINKS
\*----------------------------------------*/
a {
  display: inline-block;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: normal;
  cursor: pointer;
  transition: background-color 0.1s, box-shadow 0.1s, transform 0.1s;
  color: inherit;
}

a:hover {
  color: inherit;
}

a:visited,
a:active {
  text-decoration: initial;
}

/*----------------------------------------*\
	#HEADINGS
\*----------------------------------------*/
/*
 *	NOTE:
 *  1.	We are targeting <p> tags in here as well because we only need to
 *		remove the bottom margin with no additional styles.
 *		If there ever is the need to add more styling, paragraphs should have
 *		their separate stylesheet and this line should also be moved to there.
 */
/* *
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--theme-text-main-dark);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--theme-text-main-dark);
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.275rem;
  color: var(--theme-text-main-dark);
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: var(--theme-text-main-dark);
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8125rem;
  color: var(--theme-text-main-dark);
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--theme-text-main-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* [1] */
  margin-bottom: 0;
}

/*----------------------------------------*\
	#BUTTON
\*----------------------------------------*/
/*	#BASE
	====================================================================== */
/* *
 * Base - Primary
 */
.c-btn--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 16px;
  border-color: transparent;
  box-shadow: var(--theme-shadow-lvl-2);
  background-color: var(--theme-bg-primary);
  color: var(--theme-text-white);
}
.c-btn--primary:hover, .c-btn--primary:focus {
  box-shadow: var(--theme-shadow-lvl-1);
  color: var(--theme-text-white);
}

/* *
 * Base - Blue
 */
.c-btn--blue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  border-radius: 16px;
  border-color: transparent;
  background-color: var(--theme-bg-blue-softer);
  color: var(--theme-text-blue);
}
.c-btn--blue:hover, .c-btn--blue:focus {
  box-shadow: none;
  color: var(--theme-text-blue);
}

/* *
 * Base - Green
 */
.c-btn--green {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  border-radius: 16px;
  border-color: transparent;
  background-color: var(--theme-bg-green-softer);
  color: var(--theme-text-green);
}
.c-btn--green:hover, .c-btn--green:focus {
  box-shadow: none;
  color: var(--theme-text-green);
}

/* *
 * Base - Teal
 */
.c-btn--teal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  border-radius: 16px;
  border-color: transparent;
  background-color: var(--theme-bg-teal-softer);
  color: var(--theme-text-teal);
}
.c-btn--teal:hover, .c-btn--teal:focus {
  box-shadow: none;
  color: var(--theme-text-teal);
}

/*	#OUTLINE
	====================================================================== */
/* *
 * Outline - Primary
 */
.c-btn-outline--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 16px;
  border: 1px solid var(--theme-border-primary);
  box-shadow: var(--theme-shadow-lvl-2);
  background-color: var(--theme-bg-white-light);
  color: var(--theme-text-primary);
}
.c-btn-outline--primary:hover, .c-btn-outline--primary:focus {
  border-color: var(--theme-border-primary);
  box-shadow: var(--theme-shadow-lvl-1);
  color: var(--theme-text-primary);
}

/*	#NEUTRAL
	====================================================================== */
.c-btn-neutral {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 24px;
  border-color: transparent;
  background-color: var(--theme-bg-main-softer);
  color: var(--theme-text-main);
}
.c-btn-neutral:focus {
  box-shadow: none;
}

/*	#ICON
	====================================================================== */
.c-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  color: var(--theme-fill-main-dark);
}
.c-btn-icon:focus {
  box-shadow: none;
}
.c-btn-icon svg {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

/* *
 * Icon - Neutral
 */
.c-btn-icon--neutral {
  background-color: var(--theme-bg-main-softer);
}

/*----------------------------------------*\
	#LINK
\*----------------------------------------*/
/* *
 * Primary
 */
.c-link-primary {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: var(--theme-text-primary);
}

.c-link-primary:hover,
.c-link-primary:focus {
  color: var(--theme-text-primary);
}

/* *
 * Secondary
 */
.c-link-secondary {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: var(--theme-text-blue);
}

.c-link-secondary:hover,
.c-link-secondary:focus {
  color: var(--theme-text-blue);
}

/*----------------------------------------*\
	#INPUT
\*----------------------------------------*/
.c-input {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--theme-border-white);
  background: var(--theme-bg-main-light);
}

.c-input--withError {
  border: 1px solid var(--theme-text-red);
}

.c-input--withError:focus-visible {
  outline: 1px solid var(--theme-text-red);
}

/*----------------------------------------*\
	#CARD
\*----------------------------------------*/
/*	#BASE
	====================================================================== */
.c-card {
  padding: 0.5rem;
  border-radius: 16px;
  box-shadow: var(--theme-shadow-lvl-1);
  background-color: var(--theme-bg-main-light);
}

/*	#MATCHMAKING
	====================================================================== */
.c-card-games {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  border-radius: 16px;
  box-shadow: var(--theme-shadow-lvl-1);
  background-color: var(--theme-bg-main-light);
}
.c-card-games .c-card-games__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 1.25rem;
}
.c-card-games .c-card-games__header > p {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--theme-text-main-light);
}
.c-card-games .c-card-games__header .c-card-games__header-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.c-card-games .c-card-games__header .c-card-games__header-divider {
  height: 1px;
  width: 100%;
  margin-top: 0.25rem;
  background-color: var(--theme-border-white);
}
.c-card-games .c-card-games__body {
  display: flex;
  flex-direction: column;
}

/*----------------------------------------*\
	#PILL
\*----------------------------------------*/
/*	#Base
	====================================================================== */
.c-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 1.25rem;
  font-size: 1.125rem;
  line-height: 22px;
  border-radius: 100rem;
}

/* *
 * Base - Primary
 */
.c-pill--primary {
  background-color: var(--theme-bg-primary);
  color: var(--theme-text-white);
}

/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/
/**	Text color
	====================================================================== */
.u-textColor-main {
  color: var(--theme-text-main);
}

.u-textColor-main--light {
  color: var(--theme-text-main-light);
}

.u-textColor-main--dark {
  color: var(--theme-text-main-dark);
}

.u-textColor-primary {
  color: var(--theme-text-primary);
}

.u-textColor-green {
  color: var(--theme-text-green);
}

.u-textColor-red {
  color: var(--theme-text-red);
}

/**	Divider
	====================================================================== */
.u-divider-light {
  height: 1px;
  width: 100%;
  background-color: var(--theme-border-white);
}

/**	Misc
	====================================================================== */
.u-remove-btn-focus-shadow:focus {
  box-shadow: none;
}

.u-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*------------------------------------*\
	#MAIN
\*------------------------------------*/
/* *
 * TABLE OF CONTENTS
 * 
 * 00. FONT-FACES
 * Fonts..................Locally-hosted fonts definition.
 * 
 * 01. SETTINGS
 * Global.................Project-specific, globally available settings.
 * Typography.............Font sizes, weights and related variables.
 * Colors.................The color palette.
 * Elevations.............Elevation definitions.
 * Placeholders...........SASS placeholder helpers.
 * Themes.................Themes and their color definitions.
 *
 * 02. ELEMENTS
 * Page...................The defaults of the document.
 * Links..................Link's defaults.
 * Headings...............Heading's default font size and line heights.
 *
 * 03. COMPONENTS
 * Button.................Custom button styles.
 * Link...................Custom link (anchors) styles.
 * Input..................Custom input styles.
 * Card...................Card styles.
 * Pill...................Different pill styles.
 * 
 * 04. UTILITIES
 * Mixed..................Mixed utility classes.
 */
/* 00. FONT-FACES
   ====================================================================== */
/* 01. SETTINGS
   ====================================================================== */
/* 02. ELEMENTS
   ====================================================================== */
/* 03. COMPONENTS
   ====================================================================== */
/* 04. UTILITIES
   ====================================================================== */

/*# sourceMappingURL=main.css.map */
