/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/

@use './1-settings/global' as GLOBAL;
@use './1-settings/typography' as TYPOGRAPHY;

/**	Text color
	====================================================================== */

.u-textColor-main {
	color: var(--theme-text-main);
}

.u-textColor-main--light {
	color: var(--theme-text-main-light);
}

.u-textColor-main--dark {
	color: var(--theme-text-main-dark);
}

.u-textColor-main--soft {
	color: var(--theme-text-main-soft);
}

.u-textColor-main--softer {
	color: var(--theme-text-main-softer);
}

.u-textColor-primary {
	color: var(--theme-text-primary);
}

.u-textColor-green {
	color: var(--theme-text-green);
}

.u-textColor-red {
	color: var(--theme-text-red);
}

/**	Fill
	====================================================================== */

.u-fill-primary {
	color: var(--theme-fill-primary);
}

.u-fill-red {
	color: var(--theme-fill-red);
}

.u-fill-green {
	color: var(--theme-fill-green);
}

.u-fill-yellow {
	color: var(--theme-fill-yellow);
}

.u-fill-orange {
	color: var(--theme-fill-orange);
}

.u-fill-teal {
	color: var(--theme-fill-teal);
}

/**	Divider
	====================================================================== */

.u-divider-light {
	height: 1px;
	width: 100%;

	background-color: var(--theme-border-white);
}

/**	Rotate
	====================================================================== */

.u-rotate-90 {
	transform: rotate(90deg);
}

.u-rotate-180 {
	transform: rotate(180deg);
}

/**	Misc
	====================================================================== */

.u-boxShadow-focus-none:focus {
	box-shadow: none;
}

.u-overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
