/*----------------------------------------*\
	#LINKS
\*----------------------------------------*/

@use '../1-settings/global' as GLOBAL;
@use '../1-settings/typography' as TYPOGRAPHY;

a {
	display: inline-block;

	margin: 0;
	font-family: inherit;
	font-size: inherit;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: normal;
	cursor: pointer;
	transition: background-color 0.1s, box-shadow 0.1s, transform 0.1s;

	color: inherit;
}

a:hover {
	color: inherit;
}

a:visited,
a:active {
	text-decoration: initial;
}
