/*----------------------------------------*\
	#HTML
\*----------------------------------------*/

@use '../1-settings/global' as GLOBAL;
@use '../1-settings/typography' as TYPOGRAPHY;

/*
 *	NOTE:
 *  1.	Overflowing content should be handled inside the desired,
 *		content-wrapping component.
 *	2.	Relative position and top padding is here to allow for a fixed
 *		header inside pages. The padding value is the same as the header's
 *		height, defined inside header component.
 */
html,
body {
	min-height: 100vh;
	height: 100%;
	padding: 0;
	margin: 0;

	overflow: hidden; /* [1] */

	font-family: TYPOGRAPHY.$base-font-stack;
	font-size: TYPOGRAPHY.$base-font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--theme-bg-main-dark);
	color: var(--theme-text-main);

	scroll-behavior: smooth;
}

/* [2] */
.main-wrapper {
	position: relative;

	display: flex;
	flex-direction: column;

	height: 100%;
	padding-top: 110px;
	overflow: auto;
}
