/*----------------------------------------*\
	#HTML
\*----------------------------------------*/

@use '../1-settings/global' as GLOBAL;
@use '../1-settings/typography' as TYPOGRAPHY;

/*
 *	NOTE:
 *  1.	Overflowing content should be handled inside the desired,
 *		content-wrapping component.
 */
html,
body {
	min-height: 100vh;
	height: 100%;
	padding: 0;
	margin: 0;

	overflow: hidden; /* [1] */

	font-family: TYPOGRAPHY.$base-font-stack;
	font-size: TYPOGRAPHY.$base-font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--theme-bg-main);
	color: var(--theme-text-main);

	scroll-behavior: smooth;
}
