/*----------------------------------------*\
	#GLOBAL
\*----------------------------------------*/
/*
 *	NOTE:
 *  1.	
 */
/*	#BREAKPOINTS
	====================================================================== */
/*	#SPACING
	====================================================================== */
/* 8px / 16px */
/* 16px */
/* 24px / 16px */
/* 32px / 16px */
/* 40px / 16px */
/* 72px / 16px */
/*	#RADIUS
	====================================================================== */
/*----------------------------------------*\
	#TYPOGRAPHY
\*----------------------------------------*/
/*	#BASE
	====================================================================== */
/*	#SIZE
	====================================================================== */
/* 10px */
/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 22px */
/* 24px */
/* 26px */
/* 28px */
/* 32px */
/* 48px */
/* 56px */
/* 64px */
/*	#SIZE_HEADING
	====================================================================== */
/* 40px */
/* 32px */
/* 28px */
/* 24px */
/* 20px */
/* 16px */
/*	#WEIGHT
	====================================================================== */
/*	#PLACEHOLDERS
	====================================================================== */
/*------------------------------------*\
	#PLACEHOLDERS
\*------------------------------------*/
/*	#SCROLLBAR
	====================================================================== */
.lobby__matchmaking-games::-webkit-scrollbar, .lobby__rank-games::-webkit-scrollbar {
  width: 6px;
}
.lobby__matchmaking-games::-webkit-scrollbar-track, .lobby__rank-games::-webkit-scrollbar-track {
  background-color: transparent;
}
.lobby__matchmaking-games::-webkit-scrollbar-thumb, .lobby__rank-games::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  background-color: var(--theme-invertible-main-soft);
}

.lobby__wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.lobby {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  padding: 2rem 2rem;
}

.lobby__columns-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.lobby__main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 668px;
}

.lobby__sidebar {
  display: flex;
  flex-direction: column;
  width: 364px;
}

/*
 *	Game level and rank
 *	====================================================================== */
.lobby__game-lvl {
  display: flex;
  gap: 1rem;
}
.lobby__game-lvl img {
  flex-shrink: 0;
  width: 204px;
  max-height: 160px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}

.lobby__game-lvl-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0;
  padding-right: 0.75rem;
}

.lobby__game-lvl-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--theme-text-main-dark);
}

.lobby__game-lvl-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.lobby__game-lvl-rating p {
  font-size: 0.75rem;
}

.lobby__game-lvl-rating-stars {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.lobby__game-lvl-rating-stars svg {
  color: var(--theme-text-yellow);
}
.lobby__game-lvl-rating-stars svg:last-of-type {
  color: #c7c9d9;
}

.lobby__game-lvl-divider {
  height: 1px;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--theme-bg-main-softer);
}

.lobby__game-lvl-progress {
  height: 8px;
  margin-bottom: 0.5rem;
  background-color: var(--theme-invertible-main-softer);
}
.lobby__game-lvl-progress .progress-bar {
  width: 55%;
  background-color: var(--theme-bg-orange);
}

.lobby__game-lvl-stats {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

/*
 *	Matchmaking Card
 *	====================================================================== */
.matchmakingCard {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--theme-border-white);
}
.matchmakingCard:not(:last-of-type) {
  margin-bottom: 1rem;
}
.matchmakingCard > img {
  width: 88px;
  max-height: 92px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.matchmakingCard__body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.matchmakingCard__title {
  display: flex;
  flex-direction: column;
}
.matchmakingCard__title p:nth-of-type(1) {
  font-weight: 500;
}
.matchmakingCard__title p:nth-of-type(2) {
  color: var(--theme-text-main-light);
}

.matchmakingCard__players {
  margin-left: auto;
  align-self: flex-start;
  display: flex;
  align-items: center;
}
.matchmakingCard__players img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}
.matchmakingCard__players svg {
  color: var(--theme-invertible-main-softer);
}
.matchmakingCard__players span {
  color: var(--theme-text-main-soft);
}

.matchmakingCard__controls {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*
 *	Matchmaking
 *	====================================================================== */
.lobby__matchmaking-header-btn {
  width: 182px;
}

.lobby__matchmaking-games-wrapper {
  padding: 0.75rem 0 0.5rem;
  padding-right: 0.75rem;
}

.lobby__matchmaking-games {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 360px;
  overflow-y: auto;
}

.lobby__matchmaking-list-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.lobby__matchmaking-tag {
  display: block;
  position: absolute;
  top: 36px;
  padding: 0 0.875rem;
  font-size: 0.75rem;
  transform: rotate(-90deg);
  border-radius: 0 0 16px 16px;
  background-color: var(--theme-bg-black-soft);
  color: var(--theme-text-white);
}
.lobby__matchmaking-tag.lobby__matchmaking-tag--live {
  left: -2.25rem;
  background-color: var(--theme-bg-green-soft);
}
.lobby__matchmaking-tag.lobby__matchmaking-tag--others {
  top: 94px;
  left: -6rem;
  width: 208px;
  text-align: center;
}

.lobby__matchmaking-list {
  flex-grow: 1;
  padding-left: 2.5rem;
}

.lobby__matchmaking-item-control-btn {
  padding: 0.125rem 1rem;
}

.lobby__matchmaking-others-card:last-of-type {
  border-bottom: 0;
}

/*
 *	Rank
 *	====================================================================== */
.lobby__rank-header-btn {
  width: 182px;
}

.lobby__rank-games-wrapper {
  padding: 0.75rem 0 0.5rem;
  padding-right: 0.75rem;
}

.lobby__rank-games {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 248px;
  overflow-y: auto;
}

.lobby__rank-list-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.lobby__rank-tag {
  display: block;
  position: absolute;
  top: 36px;
  padding: 0 0.875rem;
  font-size: 0.75rem;
  transform: rotate(-90deg);
  border-radius: 0 0 16px 16px;
  background-color: var(--theme-bg-black-soft);
  color: var(--theme-text-white);
}
.lobby__rank-tag.lobby__rank-tag--live {
  left: -2.25rem;
  background-color: var(--theme-bg-green-soft);
}
.lobby__rank-tag.lobby__rank-tag--others {
  top: 42px;
  left: -2.75rem;
  width: 104px;
  text-align: center;
}

.lobby__rank-list {
  flex-grow: 1;
  padding-left: 2.5rem;
}

.lobby__rank-item-control-btn {
  padding: 0.125rem 1rem;
}

.lobby__rank-others-card:last-of-type {
  border-bottom: 0;
}

/*# sourceMappingURL=game-lobby.css.map */
