/*----------------------------------------*\
	#GLOBAL
\*----------------------------------------*/
/*
 *	NOTE:
 *  1.	
 */
/*	#BREAKPOINTS
	====================================================================== */
/*	#SPACING
	====================================================================== */
/* 8px / 16px */
/* 16px */
/* 24px / 16px */
/* 32px / 16px */
/* 40px / 16px */
/* 72px / 16px */
/*	#RADIUS
	====================================================================== */
/*----------------------------------------*\
	#TYPOGRAPHY
\*----------------------------------------*/
/*	#BASE
	====================================================================== */
/*	#SIZE
	====================================================================== */
/* 10px */
/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 22px */
/* 24px */
/* 26px */
/* 28px */
/* 32px */
/* 48px */
/* 56px */
/* 64px */
/*	#SIZE_HEADING
	====================================================================== */
/* 40px */
/* 32px */
/* 28px */
/* 24px */
/* 20px */
/* 16px */
/*	#WEIGHT
	====================================================================== */
/*	#PLACEHOLDERS
	====================================================================== */
.lobby__shop-featured-item-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*------------------------------------*\
	#PLACEHOLDERS
\*------------------------------------*/
/*	#SCROLLBAR
	====================================================================== */
.lobby__matchmaking-games::-webkit-scrollbar, .lobby__rank-games::-webkit-scrollbar, .lobby__leaderboard-players::-webkit-scrollbar {
  width: 1rem;
}
.lobby__matchmaking-games::-webkit-scrollbar-track, .lobby__rank-games::-webkit-scrollbar-track, .lobby__leaderboard-players::-webkit-scrollbar-track {
  background-color: transparent;
}
.lobby__matchmaking-games::-webkit-scrollbar-thumb, .lobby__rank-games::-webkit-scrollbar-thumb, .lobby__leaderboard-players::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: var(--theme-invertible-main-softer);
}
.lobby__matchmaking-games::-webkit-scrollbar-thumb:hover, .lobby__rank-games::-webkit-scrollbar-thumb:hover, .lobby__leaderboard-players::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-invertible-main-soft);
}

.lobby__shop-packs-list::-webkit-scrollbar {
  height: 1rem;
}
.lobby__shop-packs-list::-webkit-scrollbar-track {
  background-color: transparent;
}
.lobby__shop-packs-list::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: var(--theme-invertible-main-softer);
}
.lobby__shop-packs-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-invertible-main-soft);
}

/*	#IMAGE
	====================================================================== */
.lobby__shop-packs-list button img, .lobby__shop-featured-item-content img, .buyItemModal__item-img img, .sellItemModal__item-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.lobby__wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.lobby {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  padding: 2rem 2rem;
}

.lobby__columns-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.lobby__main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 668px;
}

.lobby__sidebar {
  display: flex;
  flex-direction: column;
  width: 364px;
}

/*
 *	Game level and rank
 *	====================================================================== */
.lobby__game-lvl {
  display: flex;
  gap: 1rem;
}
.lobby__game-lvl img {
  flex-shrink: 0;
  width: 204px;
  max-height: 160px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}

.lobby__game-lvl-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0;
  padding-right: 0.75rem;
}

.lobby__game-lvl-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--theme-text-main-dark);
}

.lobby__game-lvl-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.lobby__game-lvl-rating p {
  font-size: 0.75rem;
}

.lobby__game-lvl-rating-stars {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.lobby__game-lvl-rating-stars svg {
  color: var(--theme-text-yellow);
}
.lobby__game-lvl-rating-stars svg:last-of-type {
  color: #c7c9d9;
}

.lobby__game-lvl-divider {
  height: 1px;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--theme-bg-main-softer);
}

.lobby__game-lvl-progress {
  height: 8px;
  margin-bottom: 0.5rem;
  background-color: var(--theme-invertible-main-softer);
}
.lobby__game-lvl-progress .progress-bar {
  width: 55%;
  background-color: var(--theme-bg-orange);
}

.lobby__game-lvl-stats {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

/*
 *	Matchmaking Card
 *	====================================================================== */
.matchmakingCard {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--theme-border-white);
}
.matchmakingCard:not(:last-of-type) {
  margin-bottom: 1rem;
}
.matchmakingCard > img {
  width: 88px;
  max-height: 92px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.matchmakingCard__body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.matchmakingCard__title {
  display: flex;
  flex-direction: column;
}
.matchmakingCard__title p:nth-of-type(1) {
  font-weight: 500;
}
.matchmakingCard__title p:nth-of-type(2) {
  color: var(--theme-text-main-light);
}

.matchmakingCard__players {
  margin-left: auto;
  align-self: flex-start;
  display: flex;
  align-items: center;
}
.matchmakingCard__players img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}
.matchmakingCard__players svg {
  color: var(--theme-invertible-main-softer);
}
.matchmakingCard__players span {
  color: var(--theme-text-main-soft);
}

.matchmakingCard__controls {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*
 *	Matchmaking
 *	====================================================================== */
.lobby__matchmaking-header-btn {
  width: 182px;
}

.lobby__matchmaking-games-wrapper {
  padding: 0.75rem 0 0.5rem;
  padding-right: 0.75rem;
}

.lobby__matchmaking-games {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 360px;
  overflow-y: auto;
}

.lobby__matchmaking-list-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.lobby__matchmaking-tag {
  display: block;
  position: absolute;
  top: 36px;
  padding: 0 0.875rem;
  font-size: 0.75rem;
  transform: rotate(-90deg);
  border-radius: 0 0 16px 16px;
  background-color: var(--theme-bg-black-soft);
  color: var(--theme-text-white);
}
.lobby__matchmaking-tag.lobby__matchmaking-tag--live {
  left: -2.25rem;
  background-color: var(--theme-bg-green-soft);
}
.lobby__matchmaking-tag.lobby__matchmaking-tag--others {
  top: 94px;
  left: -6rem;
  width: 208px;
  text-align: center;
}

.lobby__matchmaking-list {
  flex-grow: 1;
  padding-left: 2.5rem;
}

.lobby__matchmaking-item-control-btn {
  padding: 0.125rem 1rem;
}

.lobby__matchmaking-others-card:last-of-type {
  border-bottom: 0;
}

/*
 *	Rank
 *	====================================================================== */
.lobby__rank-header-btn {
  width: 182px;
}

.lobby__rank-games-wrapper {
  padding: 0.75rem 0 0.5rem;
  padding-right: 0.75rem;
}

.lobby__rank-games {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 248px;
  overflow-y: auto;
}

.lobby__rank-list-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.lobby__rank-tag {
  display: block;
  position: absolute;
  top: 36px;
  padding: 0 0.875rem;
  font-size: 0.75rem;
  transform: rotate(-90deg);
  border-radius: 0 0 16px 16px;
  background-color: var(--theme-bg-black-soft);
  color: var(--theme-text-white);
}
.lobby__rank-tag.lobby__rank-tag--live {
  left: -2.25rem;
  background-color: var(--theme-bg-green-soft);
}
.lobby__rank-tag.lobby__rank-tag--others {
  top: 42px;
  left: -2.75rem;
  width: 104px;
  text-align: center;
}

.lobby__rank-list {
  flex-grow: 1;
  padding-left: 2.5rem;
}

.lobby__rank-item-control-btn {
  padding: 0.125rem 1rem;
}

.lobby__rank-others-card:last-of-type {
  border-bottom: 0;
}

/*
 *	Leaderboard
 *	====================================================================== */
.lobby__leaderboard-dropdown-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.375rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--theme-text-primary);
}
.lobby__leaderboard-dropdown-btn:focus {
  box-shadow: none;
}
.lobby__leaderboard-dropdown-btn svg {
  transform: rotate(90deg);
}

.lobby__leaderboard-dropdown-menu {
  min-width: 0;
  padding: 0.5rem 0.75rem;
  box-shadow: var(--theme-shadow-lvl-4);
  border-radius: 16px;
  border: 1px solid var(--theme-border-white);
  background-color: var(--theme-bg-main-light);
}

.lobby__leaderboard-dropdown-menu-item {
  display: block;
  min-width: 7rem;
  padding: 0.5rem 0.75rem;
  text-align: left;
}
.lobby__leaderboard-dropdown-menu-item:focus {
  box-shadow: none;
}
.lobby__leaderboard-dropdown-menu-item.lobby__leaderboard-dropdown-menu-item--active {
  color: var(--theme-text-primary);
}

.lobby__leaderboard {
  padding: 1rem 1rem;
}

.lobby__leaderboard-row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
}
.lobby__leaderboard-row:not(:last-of-type) {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--theme-border-white);
}
.lobby__leaderboard-row.lobby__leaderboard-row--personal {
  margin-bottom: 0;
}
.lobby__leaderboard-row.lobby__leaderboard-row--personal .lobby__leaderboard-row-pic {
  height: 48px;
  width: 48px;
}
.lobby__leaderboard-row.lobby__leaderboard-row--personal .lobby__leaderboard-row-username {
  font-size: 1.25rem;
}
.lobby__leaderboard-row.lobby__leaderboard-row--personal .lobby__leaderboard-row-username span {
  display: block;
  margin-top: 0.25rem;
  color: var(--theme-text-main-soft);
}

.lobby__leaderboard-row-pic {
  height: 32px;
  width: 32px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.lobby__leaderboard-row-username {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.lobby__leaderboard-row-rank {
  min-width: 90px;
}

.lobby__leaderboard-players {
  scrollbar-gutter: stable;
  margin-right: -1rem;
  max-height: 240px;
  padding-top: 1rem;
  padding-left: 1rem;
  overflow: auto;
}

/*
 *	Shop
 *	====================================================================== */
.lobby__shop-header-link {
  font-size: 0.875rem;
  font-weight: 500;
}

.lobby__shop-body {
  padding: 1rem;
  padding-bottom: 2rem;
}

.lobby__shop-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1.375rem;
}
.lobby__shop-avatar button {
  color: var(--theme-fill-main);
}
.lobby__shop-avatar img {
  max-height: 160px;
  max-width: 135px;
  object-fit: cover;
  object-position: center;
}

.lobby__shop-packs {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.lobby__shop-packs p {
  color: var(--theme-text-main-light);
}

.lobby__shop-packs-list {
  display: grid;
  grid-template-columns: repeat(4, 38px);
  grid-auto-flow: column;
  column-gap: 1.5rem;
  padding-bottom: 0.375rem;
  overflow-x: auto;
}
.lobby__shop-packs-list button {
  aspect-ratio: 1;
  width: 100%;
  padding: 0.125rem;
}
.lobby__shop-packs-list button img {
  border-radius: 8px;
}

.lobby__shop-featured {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 1rem;
}

.lobby__shop-featured-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.lobby__shop-featured-item-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 152px;
  width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--theme-border-black-light);
}
.lobby__shop-featured-item-content-price {
  position: absolute;
  bottom: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: calc(100% - 0.5rem);
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid var(--theme-border-black-light);
  background-color: var(--theme-bg-main-light);
  color: var(--theme-text-main);
}
.lobby__shop-featured-item-content-price:focus {
  box-shadow: none;
}
.lobby__shop-featured-item-content-price svg {
  align-self: center;
  height: 24px;
  width: 24px;
  color: var(--theme-bg-yellow-light);
}
.lobby__shop-featured-item-content-price span {
  place-self: center;
}

.lobby__shop-featured-item-content-btn {
  position: absolute;
  bottom: 0.25rem;
  width: calc(100% - 0.5rem);
}

.lobby__shop-featured-item-title {
  max-width: 100%;
  padding: 0 0.375rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

/*
 *	Matchmaking modal
 *	====================================================================== */
.matchmakingModal__content {
  border-radius: 16px;
  background-color: var(--theme-bg-main-light);
}

.matchmakingModal__header {
  padding: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 0;
  border-bottom-color: var(--theme-border-white);
}
.matchmakingModal__header h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--theme-text-main-light);
}

.matchmakingModal__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  padding-top: 1.25rem;
}

.matchmakingModal__game-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.matchmakingModal__game-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  color: var(--theme-text-main-dark);
}

.matchmakingModal__description {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--theme-text-main-light);
}

/*
 *	Buy item modal
 *	====================================================================== */
.buyItemModal__content {
  border-radius: 16px;
  background-color: var(--theme-bg-main-light);
}

.buyItemModal__header {
  padding: 1rem 1.5rem 0.5rem;
  border-radius: 0;
  border-bottom-color: var(--theme-border-white);
}
.buyItemModal__header h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--theme-text-main-light);
}
.buyItemModal__header button {
  width: 11rem;
}

.buyItemModal__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.buyItemModal__item-img {
  align-self: center;
  height: 192px;
  width: 182px;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  overflow: hidden;
  box-shadow: var(--theme-shadow-lvl-4);
  border-radius: 16px;
  border: 1px solid var(--theme-border-white);
  background-color: var(--theme-bg-main-light);
}
.buyItemModal__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  color: var(--theme-text-main-dark);
}

.buyItemModal__description {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--theme-text-main-light);
}

.buyItemModal__price {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
.buyItemModal__price span {
  padding: 0.25rem;
  border-radius: 8px;
  background-color: rgba(228, 228, 235, 0.4);
  color: var(--theme-fill-yellow);
}
.buyItemModal__price p {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}

/*
 *	Sell item modal
 *	====================================================================== */
.sellItemModal__content {
  border-radius: 16px;
  background-color: var(--theme-bg-main-light);
}

.sellItemModal__header {
  padding: 1rem 1.5rem;
  border-radius: 0;
  border-bottom-color: var(--theme-border-white);
}
.sellItemModal__header h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--theme-text-main-light);
}
.sellItemModal__header button {
  width: 11rem;
}

.sellItemModal__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.sellItemModal__item-img {
  align-self: center;
  height: 192px;
  width: 182px;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  overflow: hidden;
  box-shadow: var(--theme-shadow-lvl-4);
  border-radius: 16px;
  border: 1px solid var(--theme-border-white);
  background-color: var(--theme-bg-main-light);
}
.sellItemModal__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  color: var(--theme-text-main-dark);
}

.sellItemModal__description {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--theme-text-main-light);
}

.sellItemModal__price {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
.sellItemModal__price span {
  padding: 0.25rem;
  border-radius: 8px;
  background-color: rgba(228, 228, 235, 0.4);
  color: var(--theme-fill-yellow);
}
.sellItemModal__price input {
  width: 10rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
}

/*# sourceMappingURL=game-lobby.css.map */
