/*----------------------------------------*\
	#BUTTON
\*----------------------------------------*/

@use '../1-settings/global' as GLOBAL;
@use '../1-settings/typography' as TYPOGRAPHY;

/*	#BASE
	====================================================================== */

/* *
 * Base - Primary
 */
.c-btn--primary {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	font-size: TYPOGRAPHY.$size-lvl-1;
	font-weight: TYPOGRAPHY.$weight-medium;

	border-radius: GLOBAL.$radius-medium;
	border-color: transparent;
	box-shadow: var(--theme-shadow-lvl-2);
	background-color: var(--theme-bg-primary);
	color: var(--theme-text-white);

	&:hover,
	&:focus {
		box-shadow: var(--theme-shadow-lvl-1);
		color: var(--theme-text-white);
	}
}

/* *
 * Base - Blue
 */
.c-btn--blue {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	font-size: TYPOGRAPHY.$size-lvl-1;
	font-weight: TYPOGRAPHY.$weight-normal;

	border-radius: GLOBAL.$radius-medium;
	border-color: transparent;
	background-color: var(--theme-bg-blue-softer);
	color: var(--theme-text-blue);

	&:hover,
	&:focus {
		box-shadow: none;
		color: var(--theme-text-blue);
	}
}

/* *
 * Base - Green
 */
.c-btn--green {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	font-size: TYPOGRAPHY.$size-lvl-1;
	font-weight: TYPOGRAPHY.$weight-normal;

	border-radius: GLOBAL.$radius-medium;
	border-color: transparent;
	background-color: var(--theme-bg-green-softer);
	color: var(--theme-text-green);

	&:hover,
	&:focus {
		box-shadow: none;
		color: var(--theme-text-green);
	}
}

/* *
 * Base - Teal
 */
.c-btn--teal {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	font-size: TYPOGRAPHY.$size-lvl-1;
	font-weight: TYPOGRAPHY.$weight-normal;

	border-radius: GLOBAL.$radius-medium;
	border-color: transparent;
	background-color: var(--theme-bg-teal-softer);
	color: var(--theme-text-teal);

	&:hover,
	&:focus {
		box-shadow: none;
		color: var(--theme-text-teal);
	}
}

/*	#OUTLINE
	====================================================================== */

/* *
 * Outline - Primary
 */
.c-btn-outline--primary {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	font-size: TYPOGRAPHY.$size-lvl-1;
	font-weight: TYPOGRAPHY.$weight-medium;

	border-radius: GLOBAL.$radius-medium;
	border: 1px solid var(--theme-border-primary);
	box-shadow: var(--theme-shadow-lvl-2);
	background-color: var(--theme-bg-white-light);
	color: var(--theme-text-primary);

	&:hover,
	&:focus {
		border-color: var(--theme-border-primary);
		box-shadow: var(--theme-shadow-lvl-1);
		color: var(--theme-text-primary);
	}
}

/*	#NEUTRAL
	====================================================================== */

.c-btn-neutral {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0.75rem;
	font-size: TYPOGRAPHY.$size-small;
	font-weight: TYPOGRAPHY.$weight-medium;

	border-radius: GLOBAL.$radius-large;
	border-color: transparent;
	background-color: var(--theme-bg-main-softer);
	color: var(--theme-text-main);

	&:focus {
		box-shadow: none;
	}
}

/*	#ICON
	====================================================================== */

.c-btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0.75rem;

	border-radius: 50%;
	border-color: transparent;
	background-color: transparent;
	color: var(--theme-fill-main-dark);

	&:focus {
		box-shadow: none;
	}

	svg {
		flex-shrink: 0;

		height: 100%;
		width: 100%;
	}
}

/* *
 * Icon - Neutral
 */
.c-btn-icon--neutral {
	background-color: var(--theme-bg-main-softer);
}
