/*----------------------------------------*\
	#BUTTON
\*----------------------------------------*/

@use '../1-settings/global' as GLOBAL;
@use '../1-settings/typography' as TYPOGRAPHY;

/* *
 * Primary
 */
.c-btn-primary {
	border-radius: 10px;

	background-color: rebeccapurple;
	color: var(--theme-text-main);
}

.c-btn-primary:hover,
.c-btn-primary:focus {
	background-color: teal;
	color: var(--theme-text-main);
}

/* *
 * Primary outline
 */
.c-btn-outline-primary {
	border: 1px solid var(--theme-border-primary);
	border-radius: 10px;

	background-color: goldenrod;
	color: var(--theme-text-primary);
}

.c-btn-outline-primary:hover,
.c-btn-outline-primary:focus {
	border: 1px solid var(--theme-border-primary);

	color: var(--theme-text-primary-dark);
}

/* *
 * Neutral
 */
.c-btn-neutral {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0.75rem;
	font-size: TYPOGRAPHY.$size-small;
	font-weight: TYPOGRAPHY.$weight-medium;

	border-radius: GLOBAL.$radius-large;
	border-color: transparent;
	background-color: var(--theme-bg-main-softer);
	color: var(--theme-text-main);

	&:focus {
		box-shadow: none;
	}
}

/* *
 * Icon
 */
.c-btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0.75rem;

	border-radius: 50%;
	border-color: transparent;
	background-color: transparent;
	color: var(--theme-fill-main-dark);

	&:focus {
		box-shadow: none;
	}

	svg {
		flex-shrink: 0;

		height: 100%;
		width: 100%;
	}
}

/* *
 * Icon neutral
 */
.c-btn-icon--neutral {
	background-color: var(--theme-bg-main-softer);
}
