/*----------------------------------------*\
	#INPUT
\*----------------------------------------*/

@use '../1-settings/global' as GLOBAL;
@use '../1-settings/typography' as TYPOGRAPHY;

.c-input {
	padding: 0.5rem 0.75rem;
	border-radius: GLOBAL.$radius-small;
	border: 1px solid var(--theme-border-black-light);

	background: var(--theme-bg-main-light);
	color: var(--theme-text-main);
}

.c-input--withError {
	border: 1px solid var(--theme-border-red);

	&:focus-visible {
		outline: 1px solid var(--theme-border-red);
	}
}
