/*----------------------------------------*\
	#INPUT
\*----------------------------------------*/

@use '../1-settings/global' as GLOBAL;
@use '../1-settings/typography' as TYPOGRAPHY;

/*	#BASE
	====================================================================== */

.c-input {
	padding: 0.5rem 0.75rem;

	border-radius: GLOBAL.$radius-small;
	border: 1px solid var(--theme-border-black-light);
	background-color: var(--theme-bg-main-light);
	color: var(--theme-text-main);
}

.c-input--withError {
	border: 1px solid var(--theme-border-red);

	&:focus-visible {
		outline: 1px solid var(--theme-border-red);
	}
}

/*	#SWITCH
	====================================================================== */

.c-input-switch {
	height: 32px;
	width: 48px;

	input[type='checkbox'] {
		height: 0;
		width: 0;
		visibility: hidden;
	}

	label {
		position: relative;

		display: flex;
		align-items: center;

		height: 100%;
		width: 100%;

		cursor: pointer;
		border-radius: 100rem;
		border: 1px solid var(--theme-border-black);
		background-color: var(--theme-bg-main-light);
	}

	label:after {
		content: '';

		position: absolute;
		left: 6px;

		aspect-ratio: 1/1;
		height: 66%;

		transition: all 0.2s ease-in-out;
		border-radius: 100rem;
		background-color: var(--theme-invertible-main-soft);
	}

	input:checked + label:after {
		left: calc(100% - 6px);

		transform: translateX(-100%);
		// background-color: var(--theme-bg-teal);
		background-color: var(--theme-bg-primary);
	}
}

/* *
 * Switch - Teal
 */

.c-input-switch--teal {
	input:checked + label:after {
		background-color: var(--theme-bg-teal);
	}
}
