/*----------------------------------------*\
	#LINK
\*----------------------------------------*/

@use '../1-settings/global' as GLOBAL;
@use '../1-settings/typography' as TYPOGRAPHY;

/* *
 * Primary
 */
.c-link-primary {
	text-decoration: underline;
	text-underline-offset: 6px;

	color: var(--theme-text-primary);
}

.c-link-primary:hover,
.c-link-primary:focus {
	color: var(--theme-text-primary);
}

/* *
 * Secondary
 */
.c-link-secondary {
	text-decoration: underline;
	text-underline-offset: 6px;

	color: var(--theme-text-blue);
}

.c-link-secondary:hover,
.c-link-secondary:focus {
	color: var(--theme-text-blue);
}
