/*----------------------------------------*\
	#LINK
\*----------------------------------------*/

@use '../1-settings/global' as GLOBAL;
@use '../1-settings/typography' as TYPOGRAPHY;

/*	#BASE
	====================================================================== */

.c-link {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0.25rem;
	text-decoration: none;

	background-color: transparent;
	color: inherit;

	&:hover,
	&:focus {
		color: inherit;
	}
}

/* *
 * Base - Primary
 */
.c-link--primary {
	letter-spacing: 2px;

	color: var(--theme-text-primary);

	&:hover,
	&:focus {
		color: var(--theme-text-primary-dark);
	}
}
